html,body,.wrapper,ul{
  height: 100%;
  margin: 0;
  padding: 0;
}
/* 页面左侧样式 */
.left{
  height: 100%;
  width: 15%;
  background-color: rgb(48, 65, 86);
  float: left;
}
.left-header{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 40, 77);
}
.left img{
  height: 30px;
}
.left span{
  color: #fff;
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
}

.left-nav li{
  height: 50px;
  line-height: 50px;
  color: #ccc;
  list-style: none;
  margin-left: 0;
  font-size: 14px;
}
.left-nav li:hover{
  cursor: pointer;
}
.left-nav i{
  float: left;
  margin-left:60px;
  margin-right: 10px;
}

/* 右侧样式 */
.right{
  height: 100%;
  width: 85%;
  float: left;
  background-color: rgb(250, 250, 250)
}
.right-header{
  height: 60px;
  background-color: #fff;
}
.right-header *{
  float: right;
  margin-right: 30px;
  margin-top: 15px;
}
.right-header #userphoto{
  height: 30px;
  border-radius: 100%;
}
.right-header button{
  font-size: 12px;
}
.right-content{
  background-color: #fff;
  margin: 10px;
  height: 82%;
  border-radius: 5px;
  padding: 10px;
}
